name: Release
on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: build
        run: cargo build --release
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ironbar-script-net-${{ github.ref_name }}
          path: target/release/ironbar-script-net
          compression-level: 6
          overwrite: true
  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    continue-on-error: false
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: dist
          merge-multiple: true
      - name: Prerelease
        run: |
          cd dist
          mv ironbar-script-net ironbar-script-net_${{ github.ref_name }}
      - name: Create Release ${{ github.ref_name }}
        uses: softprops/action-gh-release@v2.3.3
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: true
          files: dist/ironbar-script-net_${{ github.ref_name }}
          make_latest: true
